# Core deep learning
torch>=2.0.1
torchaudio>=2.0.2
pytorch_lightning==2.1.0
flash-attn==1.0.9

# Diffusion model libraries
k-diffusion==0.1.1
v-diffusion-pytorch==0.0.2
x-transformers<1.27.0

# Audio processing
aeiou==0.0.20
auraloss==0.4.0
descript-audio-codec==1.0.0
encodec==0.1.1
laion-clap==1.1.4
pedalboard==0.7.4
PyWavelets==1.4.1

# Model components
alias-free-torch==0.0.6
einops==0.7.0
einops-exts==0.0.4
ema-pytorch==0.2.3
local-attention==1.8.6
vector-quantize-pytorch==1.9.14

# Text encoding
transformers==3.5.1
sentencepiece==0.1.99

# Training utilities
wandb==0.15.4
safetensors
prefigure==0.0.9

# Data loading
webdataset==0.2.48
s3fs
pandas==2.0.2
tqdm

# Model serving / evaluation
gradio>=3.42.0
gradio_client

# HuggingFace
huggingface_hub

# Misc
importlib-resources==5.12.0
torchmetrics==0.11.4
